*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  align-items: end;
  width: 1140px;
  gap: 30px;
}

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  height: 298px;
  width: 399px;
  gap: 30px;
  overflow: auto;
  position: relative;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 20px;
  position: relative;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.content__list-item {
  padding: 0 3px;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-grow: 1;
  max-width: 196px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
  padding-bottom: 5px;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #ffffff;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFFFFF;
}

.content__card-link:hover .content__video-card-description-container{
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: #FFFFFF;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__label:focus-within {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  background-color: transparent;
  border-width: 1px 0 1px 0;
  border-color: #ffffff;
  border-style: solid;
  color: #ffffff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #FFFFFF;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
  height: 19px;
  width: 19px;
  border: 1px solid #FFFFFF;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:hover {
  cursor: pointer;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: end;
}

.more-button {
  width: 100%;
  min-height: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}